/* Base Theme Styles - ensures default colors are set before any theme is selected */
html {
  /* Text Colors */
  --text-color-primary: #563182;
  --text-color-secondary: #563182;
  --text-color-tertiary: #fff;
  --text-color-purple: #563182;
  --text-color-pink: #d1008a;

  /* Background Colors */
  --background-color-primary: #f1ebf5;
  --background-color-secondary: #dcd1e8;
  --background-color-tertiary: #f1ebf5;

  /* Accent Colors */
  --accent-color-primary: #e7deef;
  --accent-color-secondary: #b8a6cc;
  --accent-color-tertiary: #8c74ad;

  /* Navigation and Button Colors */
  --nav-color: #dcd1e8;
  --button-bg-color: linear-gradient(90deg, #e7deef 0%, #b8a6cc 100%);
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%);

  --text-color-primary: #563182;
  --background-color-primary: #f1ebf5;

  --text-color-secondary: #563182;
  --background-color-secondary: #dcd1e8;

  --text-color-tertiary: #fff;
  --background-color-tertiary: #8c74ad;

  --accent-color-primary: #e7deef;
  --accent-color-secondary: #b8a6cc;
  --accent-color-tertiary: #8c74ad;

  --nav-color: #dcd1e8;
  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%);
}

/* Light Theme */
html[data-theme="light"] {
  --color-1: #fff;
  --color-2: #f1ebf5;
  --color-3: #e7deef; 
  --color-4: #dcd1e8; 
  --color-5: #b8a6cc; 
  --color-6: #8c74ad; 
  --color-7: #563182; 
  
  /* New Variables */
  --navbar-primary-background-color: var(--color-7);
  --navbar-primary-text-color: var(--color-4);
  
  --gradient-background-color: var(--color-3);
  --gradient-text-color: var(--color-1);
  
  --button-gradient-background-color: var(--color-3);
  --button-gradient-text-color: var(--color-1);
  
  --header-background-color: var(--color-5);
  --header-text-color: var(--color-1);
  
  --icons-variation1-background-color: var(--color-7);
  --icons-variation1-text-color: var(--color-1);
  
  --icons-variation2-background-color: var(--color-5);
  --icons-variation2-text-color: var(--color-1);
  
  --body-background-color: var(--color-2);
  --body-text-color: var(--color-1);
  
  --blog-carousel-body-background-color: var(--color-6);
  --blog-carousel-body-text-color: var(--color-1);
  
  --blog-preview-background-color: var(--color-3);
  --blog-preview-text-color: var(--color-1);
  
  --footer-background-color: var(--color-5);
  --footer-text-color: var(--color-4);
  
  --genre-button-selected-background-color: var(--color-7);
  --genre-button-selected-text-color: var(--color-1);
  
  --game-card-background-color: var(--color-3);
  --game-card-text-color: var(--color-1);
  
  --site-brag-background-color: var(--color-6);
  --site-brag-text-color: var(--color-1);
  
  --game-info-tab-background-color: var(--color-2);
  --game-info-tab-text-color: var(--color-1);
  
  --game-info-faq-background-color: var(--color-6);
  --game-info-faq-text-color: var(--color-1);
  
  --nav-bar-second-line-background-color: var(--color-3);
  --nav-bar-second-line-text-color: var(--color-1);
  
  --game-brag-background-color: var(--color-7);
  --game-brag-text-color: var(--color-1);
  
  --game-info-right-background-color: var(--color-5);
  --game-info-right-text-color: var(--color-4);
  
}

/* Dark Theme */
html[data-theme="dark"] {
  --color-1: #ffffff;
  --color-2: #211142;
  --color-3: #402a69;
  --color-4: #846ba0;
  --color-5: #28184f;
  --color-6: #8c74ad;

  /* Text and Background Colors */
  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-2);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-3);

  --text-color-tertiary: var(--color-1);
  --background-color-tertiary: var(--color-4);

  /* Accent Colors */
  --accent-color-primary: var(--color-5);
  --accent-color-secondary: var(--color-4);
  --accent-color-tertiary: var(--color-6);

  /* Navigation Color */
  --nav-color: var(--color-3);

  --linear-gradient: linear-gradient(180deg, #d1008a 0%, #563182 64.58%);
}

/* Nature Theme */
html[data-theme="nature"] {
  --color-1: #e8f5e9;
  --color-2: #abccae;
  --color-3: #a58f68;
  --color-4: #4a7c59;
  --color-5: #7ba484;
  --color-6: #2d472c;

  /* Text and Background Colors */
  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-2);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-3);

  --text-color-tertiary: var(--color-1);
  --background-color-tertiary: var(--color-4);

  /* Accent Colors */
  --accent-color-primary: var(--color-5);
  --accent-color-secondary: var(--color-3);
  --accent-color-tertiary: var(--color-4);

  /* Navigation Color */
  --nav-color: var(--color-4);

  /* Button and Gradient Colors */
  --button-bg-color: linear-gradient(
    90deg,
    var(--color-4) 0%,
    var(--color-6) 100%
  );
  --linear-gradient: linear-gradient(
    180deg,
    var(--color-4) 0%,
    var(--color-6) 64.58%
  );
  --button-hover-box-shadow: 0 0 30px var(--color-3);

  /* Background Image */
  --background-image: url("../themeSwitcherTest/patterns/18.png");

  /* Text Background */
  --text-background: var(--color-primary);
}

/* Pink Theme */
html[data-theme="pink"] {
  --color-1: #7c0089;
  --color-2: #f2cfd5;
  --color-3: #f9aebb;
  --color-4: #fff;
  --color-5: #ff69b4;
  --color-6: #ffc0cb;
  --color-7: #fe9ece;
  --color-8: #ff3ea5;

  /* Text and Background Colors */
  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-2);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-3);

  --text-color-tertiary: var(--color-4);
  --background-color-tertiary: var(--color-5);

  /* Accent Colors */
  --accent-color-primary: var(--color-6);
  --accent-color-secondary: var(--color-7);
  --accent-color-tertiary: var(--color-8);

  /* Navigation Color */
  --nav-color: var(--color-3);

  /* Button and Gradient Colors */
  --button-bg-color: linear-gradient(
    90deg,
    var(--color-6) 0%,
    var(--color-8) 100%
  );
  --linear-gradient: linear-gradient(
    180deg,
    var(--color-5) 0%,
    var(--color-8) 64.58%
  );

  /* Background Image */
  --background-image: url("../themeSwitcherTest/patterns/20.png");
}

/* Pastel Theme */
html[data-theme="pastel"] {
  --color-1: #2b2622;
  --color-2: #fff3da;
  --color-3: #fdcedf;
  --color-4: #d1ebc9;
  --color-5: #d5bdaf;
  --color-6: #c8b6ff;
  --color-7: #ffd6ff;

  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-2);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-3);

  --text-color-tertiary: var(--color-1);
  --background-color-tertiary: var(--color-4);

  --accent-color-primary: var(--color-4);
  --accent-color-secondary: var(--color-3);
  --accent-color-tertiary: var(--color-5);

  --nav-color: var(--color-6);
  --button-bg-color: linear-gradient(90deg, var(--color-4) 0%, var(--color-6) 100%);
  --linear-gradient: linear-gradient(180deg, var(--color-7) 0%, var(--color-6) 64.58%);
  --background-image: url("../themeSwitcherTest/patterns/19.png");
}

/* Black Theme */
html[data-theme="black"] {
  --color-1: #ffffff;
  --color-2: #121212;
  --color-3: #333333;
  --color-4: #444444;
  --color-5: #222222;
  --color-6: #5b5b5b;

  /* Text and Background Colors */
  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-2);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-3);

  --text-color-tertiary: var(--color-1);
  --background-color-tertiary: var(--color-4);

  /* Accent Colors */
  --accent-color-primary: var(--color-5);
  --accent-color-secondary: var(--color-3);
  --accent-color-tertiary: var(--color-4);

  /* Navigation Color */
  --nav-color: var(--color-6);

  /* Button and Gradient Colors */
  --button-bg-color: linear-gradient(
    90deg,
    var(--color-6) 0%,
    var(--color-2) 100%
  );
  --linear-gradient: linear-gradient(
    180deg,
    var(--color-6) 0%,
    var(--color-4) 64.58%
  );
  --button-hover-box-shadow: 0 0 30px var(--color-1);
}

/* White Theme */
html[data-theme="white"] {
  --color-1: #222222;
  --color-2: #ffffff98;
  --color-3: #dddddd;
  --color-4: #ffffff;
  --color-5: #bebebe;
  --color-6: #eceaea;
  --color-7: #959595;
  --color-8: #c6c4c4;

  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-2);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-3);

  --text-color-tertiary: var(--color-4);
  --background-color-tertiary: var(--color-5);

  --accent-color-primary: var(--color-6);
  --accent-color-secondary: var(--color-5);
  --accent-color-tertiary: var(--color-7);

  --nav-color: var(--color-3);
  --button-bg-color: linear-gradient(90deg, var(--color-8) 0%, var(--color-1) 100%);
  --linear-gradient: linear-gradient(180deg, var(--color-8) 0%, var(--color-1) 64.58%);
  --button-hover-box-shadow: 0 0 30px var(--color-4);
}

/* neon Theme */
html[data-theme="neon"] {
  --color-1: #211951;
  --color-2: #4bff36;
  --color-3: #101010;
  --color-4: #ff54af;
  --color-5: #ffef06;
  --color-6: #fb53ad;
  --color-7: #ff3ea5;
  --color-8: #27005d;

  /* Text and Background Colors */
  --text-color-primary: var(--color-1);
  --background-color-primary: var(--color-1);

  --text-color-secondary: var(--color-1);
  --background-color-secondary: var(--color-2);

  --text-color-tertiary: var(--color-3);
  --background-color-tertiary: var(--color-4);

  /* Accent Colors */
  --accent-color-primary: var(--color-2);
  --accent-color-secondary: var(--color-4);
  --accent-color-tertiary: var(--color-5);

  /* Navigation Color */
  --nav-color: var(--color-6);

  /* Button and Gradient Colors */
  --button-bg-color: linear-gradient(
    90deg,
    var(--color-7) 0%,
    var(--color-8) 100%
  );
  --linear-gradient: linear-gradient(
    180deg,
    var(--color-2) 0%,
    var(--color-7) 65.58%
  );
  --button-hover-box-shadow: 0 0 30px #a58f68;

  /* Background Image */
  --background-image: url("../themeSwitcherTest/patterns/21.png");
}


body {
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: 1000px;
  background-position: center;
}

#logo path {
  fill: var(--text-color-primary);
}

.dark #alternate-logo path {
  fill: var(--text-color-primary);
}

.footer__logo path {
  fill: var(--text-color-tertiary);
}

.footer__social-media path {
  fill: var(--text-color-tertiary);
}

.navbar__logo--small path {
  fill: var(--text-color-primary);
}

/* Light Theme */
.day-primary {
  background-color: #e7deef;
}

.day-secondary {
  background-color: #dcd1e8;
}

.day-accent {
  background-color: #8c74ad;
}

/* Dark Theme */
.night-primary {
  background-color: #28184f;
}

.night-secondary {
  background-color: #846ba0;
}

.night-accent {
  background-color: #8c74ad;
}

/* Nature Theme */
.nature-primary {
  background-color: #4a7c59;
}

.nature-secondary {
  background-color: #a58f68;
}

.nature-accent {
  background-color: #2d472c;
}

/* Pink Theme */
.pink-primary {
  background-color: #ffc0cb;
}

.pink-secondary {
  background-color: #ffadea;
}

.pink-accent {
  background-color: #d1008a;
}

/* Pastel Theme */
.pastel-primary {
  background-color: #f3e5f5;
}

.pastel-secondary {
  background-color: #fde7f3;
}

.pastel-accent {
  background-color: #b3e5fc;
}

/* Black Theme */
.black-primary {
  background-color: #333333;
}

.black-secondary {
  background-color: #444444;
}

.black-accent {
  background-color: #555555;
}

/* White Theme */
.white-primary {
  background-color: #ffffff;
}

.white-secondary {
  background-color: #f0f0f0;
}

.white-accent {
  background-color: #dddddd;
}

/* Neon Theme */
.neon-primary {
  background-color: #0db9d7;
}

.neon-secondary {
  background-color: #21d07a;
}

.neon-accent {
  background-color: #f368e0;
}

.theme-display img {
  height: 60px;
}

/* Base style for the theme display area */
.theme-display {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px;
  margin-right: 2em;
}

.theme-picker {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  width: 430px;
  white-space: nowrap;
  z-index: 1000;
  background-color: #2b2b2b;
}

.theme-display:hover .theme-picker {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  align-content: center;
}

.theme-picker.open {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  align-content: center;
}

/* Theme option styling */
.theme-option {
  position: relative;
  display: inline-block;
  padding: 10px;
  transition: opacity 0.3s, transform 0.3s;
  text-align: center;
}

.theme-option img {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.theme-option .theme-name {
  display: none;
  margin-top: 15px;
  color: whitesmoke;
}

.theme-option .color-preview {
  display: none;
  width: 40px;
  height: 40px;
}

.theme-option:hover .theme-name,
.theme-option:hover .color-preview {
  display: flex;
  justify-content: center;
}

.color-preview-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: auto;
}

.theme-option:hover img {
  transform: scale(1.5);
}

